@page
@model BD9.Pages.CreateModel
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
 <h2>Добавление нового Заказа</h2>
<form method="post">
    <select asp-for="order.ServiceId" class="form-control"
            asp-items="@Model.ServicesSL">
        <option value="">Выбор услуги</option>
    </select>
    <span asp-validation-for="order.ServiceId" class="text-danger" />

    <select asp-for="order.ClientId" class="form-control"
            asp-items="@Model.ClientsSL">
        <option value="">Выбор клиента</option>
    </select>
    <span asp-validation-for="order.ClientId" class="text-danger" />

    <select asp-for="order.EmploeeId" class="form-control"
            asp-items="@Model.EmpsSL">
        <option value="">Выбор мастера</option>
    </select>
    <span asp-validation-for="order.EmploeeId" class="text-danger" />

    <p>
        <label asp-for="order.Warranty">Гарантия</label><br />
        <input asp-for="order.Warranty" />
    </p>
    <p>
        <label asp-for="order.Description">Описание</label><br />
        <input asp-for="order.Description" />
    </p>
    <p>
        <label asp-for="order.DateIssue">Дата</label><br />
        <input asp-for="order.DateIssue" />
    </p>
    <select asp-for="order.ComplaintId" class="form-control"
            asp-items="@Model.ComplaintsSL">
        <option value="">Выбор жалобы</option>
    </select>
    <span asp-validation-for="order.ComplaintId" class="text-danger" />
    <input type="submit" value="Отправить" />
</form>   
