@page
@model BD9.Pages.EditModel
@{
}
<link rel="stylesheet" href="~/css/StyleSheet.css" type="text/css" />
<h2>Редактирование Заказа</h2>

<form method="post">
    <select asp-for="Order.ServiceId" class="form-control"
            asp-items="@Model.ServicesSL">
        <option value="">Выбор услуги</option>
    </select>
    <span asp-validation-for="Order.ServiceId" class="text-danger" />

    <select asp-for="Order.ClientId" class="form-control"
            asp-items="@Model.ClientsSL">
        <option value="">Выбор клиента</option>
    </select>
    <span asp-validation-for="Order.ClientId" class="text-danger" />

    <select asp-for="Order.EmploeeId" class="form-control"
            asp-items="@Model.EmpsSL">
        <option value="">Выбор мастера</option>
    </select>
    <span asp-validation-for="Order.EmploeeId" class="text-danger" />

    <div class="form-group">
        <label asp-for="Order.Warranty">Гарантия</label>
        <select asp-for="Order.Warranty" class="form-control">
            <option value="Есть">Есть</option>
            <option value="Нет">Нет</option>
        </select>
    </div>
    <p>
        <label asp-for="Order.Description">Описание</label><br />
        <input asp-for="Order.Description" class="form-control" />
    </p>
    <p>
        <label asp-for="Order.DateIssue">Дата</label><br />
        <input asp-for="Order.DateIssue" class="form-control" />
    </p>
    <select asp-for="Order.ComplaintId" class="form-control"
            asp-items="@Model.ComplaintsSL">
        <option value="">Выбор жалобы</option>
    </select>
    <span asp-validation-for="Order.ComplaintId" class="text-danger" />
    <input type="submit" value="Сохранить" />
</form>